/*
# Description: This fragment contains main styles of the "Todo" module
# This file is part of the "Todo" module for "Skizo" project
# Author: ivanvit100 @ GitHub
# Licence: MIT
*/

@import url('modal.css');

html {
  font-family: "PT Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Source Code Pro", monospace;
}
button{
  transition: all 0.1s ease-in-out;
}
input, textarea{
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
  flex-grow: 1;
  color: #333;
}
textarea {
  resize: none;
}
hr {
  color: #999;
  margin: 20px 0;
}
li button {
  background-color: transparent;
  color: #1e1e1e;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  text-align: left;
  border-bottom: 3px solid #007bff;
}
li button:hover {
  background-color: #007bff;
  color: #eee;
}
.dark{
  filter: invert(.9) !important;
}

/*Task manager*/
/*TODO: more files*/
#app {
  display: grid;
  grid-template-columns: 40px calc(100vw - 40px);
  height: 100vh;
}
.app-body {
  display: grid;
  grid-template-columns: 25% 30% 45%;
  background-color: #f7f7f7;
  position: relative;
  top: -10px;
}
.app-body > div {
  border-left: 1px solid #a4a4a4;
  padding: 20px;
}
.header {
  background-color: #eee;
  position: relative;
  top: -10px;
  right: 10px;
  width: 50px;
}
.taskmanager, .tasklist {
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 5px;
  width: calc(100% - 40px);
  margin: 0 auto;
}
.inner-header {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  position: relative;
}
.inner-header-title {
  font-size: 20px;
}
.new-interface {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
#task-description {
  grid-column: 2;
  grid-row: 1/3;
}
#task-lvl{
  margin-right: 0;
}
.new-interface button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.new-interface button:hover {
  background-color: #0056b3;
  color: #fff;
}
#manager, #list {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}
.tasklist li, .taskmanager li {
  margin-bottom: 10px;
}
.notification {
  background-color: #007bff;
  color: #eee;
  border-radius: 50%;
  padding: 2px 5px;
  float: right;
  width: 10px;
  text-align: center;
  font-weight: bold;
}
.done{
  background-color: #626262 !important;
}
li button:has(.done) {
  border-bottom-color: #626262;
}
li button:hover:has(.done) {
  background-color: #626262;
}
#list-name {
  font-weight: bolder;
  font-size: larger;
}
#new-tasklist-id{
  display: grid;
  grid-template-columns: 45% 45% 8%;
  grid-row-gap: 15px;
}
.list-icon img, .list-icon{
  width: 30px;
  height: 30px;
}
.list-icon {
  background-color: transparent;
  display: inline;
  cursor: pointer;
  filter: invert(1);
  border: none;
  position: absolute;
  right: 15px;
  top: 0;
  transform: translateY(25%);
}