/*
# Description: This fragment contains main styles of the "Todo" module
# This file is part of the "Todo" module for "Skizo" project
# Author: ivanvit100 @ GitHub
# Licence: MIT
*/

@import url('modal.css');

html {
  font-family: "PT Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Source Code Pro", monospace;
}
body {
  margin: 0;
}
body, #app {
  overflow: hidden;
}
button{
  transition: all 0.1s ease-in-out;
}
input, textarea{
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
  flex-grow: 1;
  color: #333;
}
textarea {
  resize: none;
}
hr {
  color: #999;
  margin: 20px 0;
}
li button {
  background-color: transparent;
  color: #1e1e1e;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  text-align: left;
  border-bottom: 3px solid #007bff;
}
li button:hover {
  background-color: #007bff;
  color: #eee;
}
.dark{
  filter: invert(.9) !important;
}
#app {
  display: grid;
  grid-template-columns: 40px calc(100vw - 40px);
  height: 100vh;
}
.app-body {
  display: grid;
  grid-template-columns: 25% 30% 45%;
  background-color: #f7f7f7;
  position: relative;
  transition: transform .3s ease-in-out;
}
.app-body > div {
  border-left: 1px solid #a4a4a4;
  padding: 20px;
}
.header {
  background-color: #eee;
  position: relative;
  top: -10px;
  right: 10px;
  width: 50px;
  z-index: 2;
}
.header-title-text img {
  width: 80%;
  background-color: #cce2f9;
  padding: 10%;
  left: 5px;
  top: 5px;
  position: relative;
  scale: .8;
  border-bottom: 2px solid #007bff;
}
.header_button {
  width: calc(100% - 10px);
  height: 40px;
  left: 10px;
  top: calc(50vh - 120px);
  position: relative;
  border: none;
  background-color: transparent;
  transition: .7s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.header_button:hover {
  scale: 1.1;
  left: 9px;
}
#openMenu{
  position: absolute;
  top: calc(100vh - 40px);
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #007bff;
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}
::-webkit-scrollbar-thumb:hover {
  background: #0056b3;
}

@media(min-width: 1000px) {
  .mobile {
    display: none;
  }
  #switch {
    top: calc(100vh - 135px);
  }
}