/*
# Description: This fragment contains styles for notifications and status of the tasks
# This file is part of the "Todo" module for "Skizo" project
# Author: ivanvit100 @ GitHub
# Licence: MIT
*/

/* Path: /public/css/Tasks.css */

.notification {
  background-color: #007bff;
  color: #eee;
  border-radius: 50%;
  padding: 2px 5px;
  float: right;
  width: 10px;
  text-align: center;
  font-weight: bold;
}
.done{
  background-color: #626262 !important;
}
li button:has(.done) {
  border-bottom-color: #626262;
}
li button:hover:has(.done) {
  background-color: #626262;
}