/*
# Description: This fragment contains styles for the Tasks, TaskLists and TaskManager components
# This file is part of the "Todo" module for "Skizo" project
# Author: ivanvit100 @ GitHub
# Licence: MIT
*/

@import url('status.css');

iframe {
  border: none;
  width: calc(100% + 10px);
  height: calc(100vh - 200px);
}
#task{
  height: 100vh;
  position: relative;
}
.task-icon{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.task-icon img{
  height: 30px;
  width: auto;
  margin-left: 15px;
}
.task-bottom{
  position: absolute;
  bottom: 0;
  width: 100%;
}
.task-title {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
}
.task-description {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin-bottom: 10px;
}
.task-icons {
  display: flex;
  justify-content: flex-end;
}
.edit-task, .delete-task {
  cursor: pointer;
  margin-left: 10px;
}
.task-details {
  font-family: "Source Code Pro", monospace;
  font-size: 14px;
  margin-bottom: 10px;
}
.task-importance, .task-deadline {
  display: block;
}
.task-tag {
  font-family: "Source Code Pro", monospace;
  font-size: 14px;
  background-color: #f0f0f0;
  padding: 5px;
  border-radius: 3px;
}
.taskmanager, .tasklist, .task-viewer {
  overflow: hidden;
  max-height: 100vh;
}
ul {
  overflow-y: auto;
  max-height: calc(100vh - 185px);
}
#taskmanager ul {
  max-height: calc(100vh - 150px);
}
.taskmanager, .tasklist {
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 5px;
  width: calc(100% - 40px);
  margin: 0 auto;
}
.inner-header {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  position: relative;
}
.inner-header-title {
  font-size: 20px;
}
.new-interface {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
#task-description {
  grid-column: 2;
  grid-row: 1/3;
}
#task-lvl{
  margin-right: 0;
}
.new-interface button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.new-interface button:hover {
  background-color: #0056b3;
  color: #fff;
}
#manager, #list {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}
.tasklist li, .taskmanager li {
  margin-bottom: 10px;
}
#app {
  user-select: none;
}
.task-viewer {
  user-select: text;
}
#list-name {
  font-weight: bolder;
  font-size: larger;
}
#new-tasklist-id{
  display: grid;
  grid-template-columns: 45% 45% 8%;
  grid-row-gap: 15px;
}
.list-icon img, .list-icon{
  width: 30px;
  height: 30px;
}
.list-icon {
  background-color: transparent;
  display: inline;
  cursor: pointer;
  filter: invert(1);
  border: none;
  position: absolute;
  right: 15px;
  top: 0;
  transform: translateY(25%);
}

@media (max-width: 1079px) {
  .app-body {
    grid-template-columns: repeat(3, calc(100vw - 10px));
  }
  .taskmanager, .tasklist, .task-viewer {
    width: calc(100vw - 90px);
    position: relative;
    left: -20px;
  }
}