html{
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Code Pro', monospace;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: min(350px, 95vw);
    position: relative;
}
.modal-input{
    width: 80%;
    margin: 20px auto;
    display: block;
    position: relative;
    height: 30px;
    padding: 0 10px;
    border: 1px solid #a4a4a4;
    border-radius: 5px;
}
.modal-title {
    font-size: 25px;
    font-weight: bold;
    font-stretch: expanded;
    margin: 10px 20px 20px 25px;
    padding-bottom: 8px;
    width: 30%;
    border-bottom: 3px solid #007bff;
}
.modal-decorate{
    font-weight: bold;
    font-size: 8px;
    transform: rotate(-90deg);
    position: absolute;
    display: block;
    width: 52px;
    top: 42px;
    left: 10px;
}
.modal-github{
    text-decoration: none;
    outline: none;
    position: absolute;
    right: 45px;
    top: 35px;
}
.modal-button {
    padding: 8px 16px;
    border: none;
    border-radius: 3px;
    background-color: #007bff;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    margin: 0 25px;
}
.modal-button:hover {
    background-color: #0056b3;
}
.modal-button:active {
    background-color: #004080;
}
